p{
    font-family: merriweather, serif;
    margin-bottom: 1em;
}
@font-face {
    font-family: merriweather;
    src: url(Merriweather-Regular.ttf);
}
em{
    line-height: 0.9;
}
.small{
    font-size: 0.61rem;
}
.about{
    width: 500px;
}
.footer{
    border-top: 1px dashed grey;
    width: 300px;
}

hr{
    color: #c0c0c0
}
#title{
    margin-bottom: 0;
}
body {
    background-color: #FCF3DC;
    font-family: merriweather, serif;
    line-height: 1.45;
    font-size: 0.91rem;
    font-variant-numeric: oldstyle-nums;
    padding-left: 1em;
}


